In [1]:
import pandas as pd
import numpy as np

### EXCEL LESIONES - HECHOS

In [2]:
df = pd.read_excel('../Data/excel/lesiones.xlsx',['HECHOS','VICTIMAS'])

In [3]:
df_hechos = df['HECHOS']

In [4]:
df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB

In [6]:
df_hechos.isnull().sum()

id                           0
n_victimas                   0
aaaa                         0
mm                           0
dd                           0
fecha                        0
hora                         0
franja_hora                  5
direccion_normalizada       53
comuna                     169
tipo_calle                   0
otra_direccion               0
calle                    10918
altura                   11014
cruce                    14378
geocodificacion_CABA        39
longitud                   262
latutid                    262
victima                      0
acusado                      0
participantes                0
moto                        93
auto                        93
transporte_publico          93
camion                      93
ciclista                    93
gravedad                     0
dtype: int64

In [7]:
columnas = ['aaaa', 'mm', 'mm','franja_hora','otra_direccion','calle','cruce','moto','auto','transporte_publico','camion','ciclista']
df_hechos = df_hechos.drop(columnas, axis=1)

In [8]:
renombrar = {'id': 'Id_hechos',
             'n_victimas': 'nro_victimas',
             'direccion_normalizada': 'lugar_hecho',
             'victima': 'vehiculo_victima',
             'acusado': 'vehiculo_acusado'}

df_hechos = df_hechos.rename(columns=renombrar)
df_hechos.rename(columns={'latutid': 'latitud'}, inplace=True)

In [11]:
df_hechos.sample(5)

,Id_hechos,nro_victimas,dd,fecha,hora,lugar_hecho,comuna,tipo_calle,altura,geocodificacion_CABA,longitud,latitud,vehiculo_victima,vehiculo_acusado,participantes,gravedad
7577,LC-2019-0576182,1,13,2019-09-13 00:00:00,21:40:00,SD,1,SD,NaN,Point (107507.56851294318039436 100785.7386486...,-58.381434,-34.62216,SD,SD,SD-SD,SD
5318,LC-2019-0402995,1,28,2019-06-28 00:00:00,21:20:00,SD,1,SD,NaN,Point (107377.47507783946639393 100253.6931286...,-58.382848,-34.626957,SD,SD,SD-SD,SD
601,LC-2019-0055442,1,26,2019-01-26 00:00:00,12:29:00,SD,10,SD,NaN,Point (93891.62974215767462738 100392.31819454...,-58.529911,-34.625715,MOTO,SD,MOTO-SD,SD
16162,LC-2021-0073619,1,11,2021-02-11 00:00:00,01:30:00,"SCALABRINI ORTIZ, RAUL AV. y GUEMES",14,AVENIDA,0.0,Point (104208.054009221 104790.646487917),-58.417432924959,-34.586076736692,CICLISTA,AUTO,CICLISTA-AUTO,SD
7320,LC-2019-0556147,1,5,2019-09-05 00:00:00,07:30:00,SD,1,SD,NaN,Point (108276.38452300772769377 105277.1139755...,-58.373094,-34.581667,AUTO,SD,AUTO-SD,SD

In [12]:
def transformar_texto(columna):
    if pd.notnull(columna):
        return columna.strip().lower().capitalize().lower().capitalize()
    else:
        return columna 

def transformar_dataframe(df, columnas_a_transformar):
    for columna in columnas_a_transformar:
        df[columna] = df[columna].apply(transformar_texto)

In [13]:
columnas = ['lugar_hecho', 'tipo_calle','vehiculo_victima','vehiculo_acusado','participantes','gravedad']
transformar_dataframe(df_hechos, columnas)

In [14]:
df_hechos['gravedad'].unique()

array(['Sd', 'Grave', 'Fatal'], dtype=object)

In [15]:
df_hechos['gravedad'] = df_hechos['gravedad'].replace({'Sd': 'Leve','GRAVE': 'Grave', 'grave': 'Grave', 'FATAL': 'Fatal'})
print(df_hechos['gravedad'].unique())

['Leve' 'Grave' 'Fatal']

In [16]:
df_hechos.to_csv('lesiones_hechos.csv', index=False)

EXCEL LESIONES - VICTIMAS

In [17]:
df_victimas = df['VICTIMAS']

In [19]:
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID hecho          27605 non-null  object
 1   AAA               27605 non-null  int64
 2   MM                27605 non-null  int64
 3   DD                27605 non-null  int64
 4   FECHA             27605 non-null  datetime64[ns]
 5   VEHICULO_VICTIMA  27605 non-null  object
 6   SEXO              27605 non-null  object
 7   EDAD_VICTIMA      27605 non-null  object
 8   GRAVEDAD          27605 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.9+ MB

In [20]:
df_victimas.isnull().sum()

ID hecho            0
AAA                 0
MM                  0
DD                  0
FECHA               0
VEHICULO_VICTIMA    0
SEXO                0
EDAD_VICTIMA        0
GRAVEDAD            0
dtype: int64

In [22]:
df_victimas.head()

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD
3,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD
4,LC-2019-0000082,2019,1,1,2019-01-01,sd,Mujer,45,SD

In [23]:
columnas = ['AAA', 'MM', 'DD','FECHA ','GRAVEDAD']
df_victimas = df_victimas.drop(columnas, axis=1)

In [24]:
columnas = ['SEXO','VEHICULO_VICTIMA']
transformar_dataframe(df_victimas, columnas)

In [25]:
renombrar = {'ID hecho': 'Id_hechos',
             'FECHA': 'fecha',
             'VEHICULO_VICTIMA': 'victima',
             'SEXO': 'sexo',
             'EDAD_VICTIMA': 'edad'}
df_victimas = df_victimas.rename(columns=renombrar)

In [26]:
df_victimas.head()

         Id_hechos victima   sexo edad
0  LC-2019-0000053      Sd  Varon   57
1  LC-2019-0000063      Sd     Sd   SD
2  LC-2019-0000079      Sd  Varon   SD
3  LC-2019-0000082      Sd  Varon   45
4  LC-2019-0000082      Sd  Mujer   45

### MERGE LESIONES HECHOS - VICTIMAS

In [28]:
df_1 = pd.merge(df_hechos, df_victimas, on='Id_hechos', how='inner')

In [29]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27598 entries, 0 to 27597
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id_hechos             27598 non-null  object
 1   nro_victimas          27598 non-null  int64
 2   dd                    27598 non-null  int64
 3   fecha                 27598 non-null  object
 4   hora                  27598 non-null  object
 5   lugar_hecho           27545 non-null  object
 6   comuna                27420 non-null  object
 7   tipo_calle            27598 non-null  object
 8   altura                14751 non-null  float64
 9   geocodificacion_CABA  27559 non-null  object
 10  longitud              27328 non-null  object
 11  latitud               27328 non-null  object
 12  vehiculo_victima      27598 non-null  object
 13  vehiculo_acusado      27598 non-null  object
 14  participantes         27598 non-null  object
 15  gravedad              27598 non-null  object
 16  victima               27598 non-null  object
 17  sexo                  27598 non-null  object
 18  edad                  27598 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 4.0+ MB

In [30]:
df_1 = df_1.drop(['dd'], axis=1, errors='ignore')
df_1.rename(columns=lambda x: x.strip(), inplace=True)
df_1.rename(columns={'latutid': 'latitud'}, inplace=True)

In [33]:
df_1.sample(5)

,Id_hechos,nro_victimas,fecha,hora,lugar_hecho,comuna,tipo_calle,altura,geocodificacion_CABA,longitud,latitud,vehiculo_victima,vehiculo_acusado,participantes,gravedad,victima,sexo,edad
15734,LC-2020-0473793,1,2020-08-11 00:00:00,01:08:00 p.m.,"Alberdi, juan bautista av. y vega belgrano carlos",9,Avenida,0.0,Point (96688.5138884584 97836.9088089066),-58.499421413464,-34.648763406178,Moto,Taxi,Moto-taxi,Leve,Moto,Varon,34
19121,LC-2021-0270887,1,2021-06-17 00:00:00,19:05:00,Rivadavia av. y senillosa,6,Avenida,0.0,Point (103030.669910134 101521.784330373),-58.430254623729,-34.615547742909,Ciclista,Sd,Ciclista-sd,Leve,Ciclista,Mujer,22
3306,LC-2019-0223009,1,2019-04-10 00:00:00,07:40:00,Sd,4,Sd,NaN,Point (104518.86107842919591349 98287.87983011...,-58.414011,-34.644694,Sd,Sd,Sd-sd,Leve,Sd,Mujer,SD
26336,LC-2021-0574037,1,2021-11-17 00:00:00,08:10:00,"Beiro, francisco av. y campana",11,Avenida,0.0,Point (96675.3873084535 103437.038798158),-58.499542279080,-34.598281587485,Peaton,Transporte publico,Peaton-transporte publico,Leve,Peaton,Varon,SD
26617,LC-2021-0596781,1,2021-11-30 00:00:00,13:45:00,"Santa fe av. y carranza, angel justiniano",14,Avenida,0.0,Point (102912.149263197 105841.419526443),-58.431561455891,-34.576609010579,Peaton,Camioneta,Peaton-camioneta,Leve,Peaton,Varon,23

In [34]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27598 entries, 0 to 27597
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id_hechos             27598 non-null  object
 1   nro_victimas          27598 non-null  int64
 2   fecha                 27598 non-null  object
 3   hora                  27598 non-null  object
 4   lugar_hecho           27545 non-null  object
 5   comuna                27420 non-null  object
 6   tipo_calle            27598 non-null  object
 7   altura                14751 non-null  float64
 8   geocodificacion_CABA  27559 non-null  object
 9   longitud              27328 non-null  object
 10  latitud               27328 non-null  object
 11  vehiculo_victima      27598 non-null  object
 12  vehiculo_acusado      27598 non-null  object
 13  participantes         27598 non-null  object
 14  gravedad              27598 non-null  object
 15  victima               27598 non-null  object
 16  sexo                  27598 non-null  object
 17  edad                  27598 non-null  object
dtypes: float64(1), int64(1), object(16)
memory usage: 3.8+ MB

### CSV HOMICIDIOS "HECHOS_VICTIMAS"

In [36]:
df_2 = pd.read_csv('../Data/csv/Homicidios_hechos_victimas.csv')

In [38]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id_hechos             717 non-null    object
 1   nro_victimas          717 non-null    int64
 2   fecha                 717 non-null    object
 3   hora                  717 non-null    object
 4   lugar_hecho           717 non-null    object
 5   tipo_calle            717 non-null    object
 6   altura                133 non-null    float64
 7   comuna                717 non-null    int64
 8   geocodificacion_CABA  717 non-null    object
 9   longitud              717 non-null    object
 10  latitud               717 non-null    object
 11  vehiculo_victima      717 non-null    object
 12  vehiculo_acusado      717 non-null    object
 13  rol                   717 non-null    object
 14  sexo                  717 non-null    object
 15  edad                  717 non-null    object
 16  fecha_fallecimiento   717 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 95.4+ KB

### MERGE HOMICIDIOS - LESIONES

In [39]:
df_merged =  df_1.set_index('Id_hechos').combine_first(df_2.set_index('Id_hechos')).reset_index()

In [41]:
orden_columnas = ['Id_hechos','fecha','hora','lugar_hecho','tipo_calle','altura','comuna','geocodificacion_CABA','latitud','longitud','nro_victimas','participantes','rol','victima','vehiculo_victima','vehiculo_acusado','sexo','edad','gravedad','fecha_fallecimiento']
df = df_merged[orden_columnas]

In [42]:
df.head()

,Id_hechos,fecha,hora,lugar_hecho,tipo_calle,altura,comuna,geocodificacion_CABA,latitud,longitud,nro_victimas,participantes,rol,victima,vehiculo_victima,vehiculo_acusado,sexo,edad,gravedad,fecha_fallecimiento
0,2016-0001,2016-01-01,04:00:00,Av piedra buena y av fernandez de la cruz,Avenida,NaN,8.0,Point (98896.78238426 93532.43437792),-34.68757022,-58.47533969,1,NaN,Conductor,NaN,Moto,Auto,Masculino,19,NaN,2016-01-01 00:00:00
1,2016-0002,2016-01-02,01:15:00,Av gral paz y av de los corrales,Gral paz,NaN,9.0,Point (95832.05571093 95505.41641999),-34.66977709,-58.50877521,1,NaN,Conductor,NaN,Auto,Pasajeros,Masculino,70,NaN,2016-01-02 00:00:00
2,2016-0003,2016-01-03,07:00:00,Av entre rios 2034,Avenida,2034.0,1.0,Point (106684.29090040 99706.57687843),-34.63189362,-58.39040293,1,NaN,Conductor,NaN,Moto,Auto,Masculino,30,NaN,2016-01-03 00:00:00
3,2016-0004,2016-01-10,00:00:00,Av larrazabal y gral villegas conrado,Avenida,NaN,8.0,Point (99840.65224780 94269.16534422),-34.68092974,-58.46503904,1,NaN,Conductor,NaN,Moto,Sd,Masculino,18,NaN,SD
4,2016-0005,2016-01-21,05:20:00,Av san juan y presidente luis saenz peña,Avenida,NaN,1.0,Point (106980.32827929 100752.16915795),-34.62246630,-58.38718297,1,NaN,Conductor,NaN,Moto,Pasajeros,Masculino,29,NaN,2016-02-01 00:00:00

In [45]:
# df.to_csv('merge_homicidios_lesiones.csv', index=False)